<main class="main">
  <div class="content container">
    <div class="row">
      <div class="w-100 col flex-column">
        <div id="title">
          <h1>{{ title }}</h1>
          <div>{{ subtitle }}</div>
        </div>
        <div id="navbar">
          <h2>
            <a href="/home-page">Home</a>----<a href="/make-group">Make Group</a>----<a href="/task-display">Tasks</a>----<a href="/make-task">Make Tasks</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
