<main class="main">
    <div class="content container">
        <div class="row">
            <div class="w-100 col flex-column">
                <form action="/">
                    <label for="groupName">Group Name:</label>
                    <input class="form-control mt-2" type="text" id="groupName" required>
                    <label for="groupNumber">Group Number:</label>
                    <input class="form-control mt-2" type="number" id="groupNumber" required>
                    <label for="dateRange">Date Range:</label>
                    <input class="form-control mt-2" type="text" id="dateRange" required>
                    <label for="notes">Notes:</label>
                    <input class="form-control mt-2" type="text" id="notes">
                    <div class="d-grid gap-2">
                        <br>
                        <input type="submit" value="submit" class="btn btn-secondary">
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
