<main class="main">
    <div class="content container">
        <div class="row">
            <div class="w-100 col flex-column">
                <form action="/">
                    <label for="taskName">Task Name:</label>
                    <input class="form-control mt-2" type="text" id="taskName" required>
                    <label for="taskNumber">Task Number:</label>
                    <input class="form-control mt-2" type="number" id="taskNumber" required>
                    <label for="user">User:</label>
                    <input class="form-control mt-2" type="text" id="user">
                    <label for="status">Status:</label>
                    <input class="form-control mt-2" type="text" id="status" required>
                    <label for="notes">Notes:</label>
                    <input class="form-control mt-2" type="text" id="notes" required>
                    <div class="d-grid gap-2">
                        <br>
                        <input type="submit" value="submit" class="btn btn-secondary">
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
