<main class="main">
    <div class="content container">
        <div class="row">
            <div class="w-100 col flex-column">
                <div class="row justify-content-center">
                    <div class="list-group">
                        <!-- @for (task of tasks; track $index) {
                        <a href="/task-display" class="list-group-item 
                list-group-item-action 
                flex-column 
                align-items-start" >
                            <div class="media">
                                <div>
                                    <h3>{{ task.name }}</h3>
                                    {{ task.itemNum + "." }}
                                    @if (task.notes) {
                                    {{ task.notes }}
                                    } @else {
                                    "???"
                                    }
                                    <p>{{ task.status }}</p>
                                </div>
                            </div>
                        </a>
                        } -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
